/homeworks/03 cifar-10 model comparison by pytorch/data/
/homeworks/01 sklearn-mnist-classifier/data/
/homeworks/03 cifar-10 model comparison by pytorch/03-01 mlp-classifier/model/
/homeworks/03 cifar-10 model comparison by pytorch/03-01 mlp-classifier/results/
/homeworks/03 cifar-10 model comparison by pytorch/03-01 mlp-classifier/model/
/homeworks/03 cifar-10 model comparison by pytorch/03-02 cnn-classifier/model/
/homeworks/03 cifar-10 model comparison by pytorch/03-02 cnn-classifier/results/
/homeworks/04 cifar-10 Modern CNNs Image Classfication/data/
/homeworks/03 cifar-10 model comparison by pytorch/tool/cifar10_image.png
/homeworks/03 cifar-10 model comparison by pytorch/tool/test.py
/homeworks/04 cifar-10 Modern CNNs Image Classfication/data/
